# Gradle cache folder
.gradle

# Idea configuration folder
.idea

# Kotlin cache folder
.kotlin

# Build output folder
.build

# Local properties
local.properties

*.iml
**/build/
xcuserdata
!src/**/build/
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings